@font-face {
  font-family: "OPTIBerling-Agency";
  src: url("./fonts/OPTIBerling-Agency/OPTIBerling-Agency.ttf.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Madina";
  src: url("./fonts/Madina/Madina.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OPTIBerling-Agency", sans-serif !important;
  font-size: 1.2rem;
  color: #f4f4f4 !important;
  background-color: #030d3c !important;
  margin: 0;
  padding: 0;
}

body #root {
  margin: 0 auto;
  max-width: 640px;
  max-height: 2400px; /* Cap the height at 1200px */
  overflow-y: auto;
}

#root .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #030d3c;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #030d3c;
}

.nav-list li {
  margin: 0.3rem 0.5rem;
  text-align: center;
  list-style: none;
}

.nav-list a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #f4f4f4;
}
.nav-list a:hover {
  text-decoration: underline;
  color: #a87e4b;
}
