.faq-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.faq-title {
  font-size: 5rem;
  line-height: 1.1;
  margin: 0;
}

.f {
  align-self: self-start;
  padding-left: 10%;
}

.a {
  align-self: self-center;
}

.q {
  align-self: self-end;
  padding-right: 10%;
}

.faqs {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 95%;
}

.accordion-flush {
  width: 100%;
  background-color: #030d3c;
}

.accordion-header {
  background-color: #030d3c;
  color: #f4f4f4;
}

.accordion-flush .accordion-button {
  background-color: #030d3c;
  color: #f4f4f4;
}

.accordion-flush .accordion-button:focus {
  box-shadow: none;
}

.accordion-flush .accordion-button::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23f4f4f4"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  color: transparent; /* Hide the default arrow */
}

.accordion-flush .accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23f4f4f4"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  color: transparent; /* Hide the default arrow */
}

.accordion-flush .accordion-button:not(.collapsed) {
  background-color: #030d3c;
  color: #f4f4f4;
}

.accordion-flush > .accordion-item {
  border-top: 0;
  background-color: #030d3c;
  color: #f4f4f4;
}

.accordion-body {
  font-size: 0.8rem;
  text-align: left;
}
