/* Home.css */

.home-container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}

.call-to-action {
  font-family: "Madina", sans-serif;
  color: #a87e4b;
  width: 100%;
}

.anne {
  font-size: 5rem;
  text-align: left;
  line-height: 1.1;
  margin: 0 0 1rem 5rem;
  margin-bottom: 1rem;
}

.and {
  font-size: 5rem;
  text-align: center;
  line-height: 1.1;
  margin: 0 5rem 1rem 0;
  margin-bottom: 1rem;
}

.katrina {
  font-size: 5rem;
  text-align: right;
  line-height: 1.1;
  margin: 0 5rem 1rem 0;
  margin-bottom: 1rem;
}

.view-title {
  font-size: 5rem;
  line-height: 1.1;
  margin-top: 1rem;
  margin-left: 30%;
  margin-bottom: 1rem;
}

.event-details {
  text-align: center;
}

.what {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.who {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.space-around {
  margin: 0 0.8rem;
}

.when {
  font-size: 1.9rem;
  margin-top: 1.2rem;
  margin-bottom: 4rem;
}

.where {
  font-size: 1.7rem;
  margin-top: 1.2rem;
}

.facade {
  width: 540px;
  margin: 2rem;
  border: #a87e4b 1px solid;
}

.invites {
  font-family: "Madina", sans-serif;
  color: #a87e4b;
  font-size: 2.5rem;
  margin-top: 1.2rem;
}
